<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daktari.android"
    android:versionCode="5"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.daktari.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.daktari.android.permission.C2D_MESSAGE" />

    <application
        android:name="com.daktari.android.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.daktari.android.GridViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.New_design_moti_boxes"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daktari.android.MainActivity"
            android:label="דקטרי עפולה"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.MapActivity"
            android:label="מפה"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.HotStuff"
            android:label="מבצעים"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.LoginPage"
            android:label="הרשם/התחבר"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.ShareApp"
            android:label="שתף"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.AboutUs"
            android:label="עלינו"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.GalleryActivity"
            android:label="גלריה"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.daktari.android.HotStuffProduct"
            android:label="גלריה"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.parse.PushService" />
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

<!--       IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="com.daktari.android" />
            </intent-filter>
        </receiver>
    </application>

</manifest>